<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">

<listeners>
	<listener class-name="listeners.TestNGListeners"></listener>
</listeners>
	<test thread-count="5" name="Test" parallel="classes">

		<classes>
			<class name="listeners.TestNgListenerDemo"/>
			<class name="listeners.TestNgListenerDemo2"/>
		<!-- 	<class name="test.ExtentReportDemoTestNG" />
			<class name="test.ExtentReportDemoTestNG2" >
			<methods>
				<exclude name="test2"></exclude>
			</methods>
			</class>-->
		</classes>

	</test>
</suite> 
